#picture {
    float: left;
    margin: 10px;
    border: 10px;
    width: 100%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 100%;
    margin: auto;
}

.row {
    font-size: 18px;
    border: 20px;
    margin: 20px;
}

header {
   font-size: 100px;
}

body {
    text-align: center;
}

